html, body {
    display: inline-block;
}

.nav>li>a {
    padding-top: 15px;
    padding-bottom: 5px;
}

#font_blue{
    color: navy;
    font-weight: bold;
    text-align: center;
}

#font_black{
    color: black;
    font-weight: bold;
    text-align: left;
}

.customDivLeft {
    margin-top: 75px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 39px;
    min-height: 30px;
    background-color: lightsteelblue;
    text-align: justify;
    font-size: small;
}

.customDivRight {
    margin-top: 75px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 0px;
    min-height: 30px;
    background-color: lightsteelblue;
    text-align: justify;
    font-size: small;
}

.customDivCenter {
    margin-top: 75px;
    margin-bottom: 30px;
    margin-left: 125px;
    margin-right: 150px;
    padding: 10px;
    padding-bottom: 10px;
    background-color: lightsteelblue;
    text-align: center;
    font-size: medium;
}

.customDivData {
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    text-align: justify;
    font-size: small;
}

.float-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid whitesmoke 1px;
    padding: 2px;
    width: 250px;
    height: 250px;
}

.images {
    margin-left: 40px;
    margin-right: 10 px;
    text-align: center;
    padding-bottom: 15px;
    width: 140px;
    height: 140px;
}

.table{
    margin-top: 75px;
    margin-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}

#footer {
    position: fixed;
    z-index: 100; 
    height: 20px;
    bottom: 0px; 
    text-align: center;
    left: 0px;
    width: 100%;
    color: black;
    background-color:gainsboro;
}